.question-ul li{
    padding: 10px;
    overflow: hidden;
    display: flex;
    background-color: #fff;
    border-bottom:1px solid #eee;
}
.side-question{
    flex-basis: 38px;
    height:100%;
}
.side-question-avatar{
    width: 38px;
    height:38px;
    border-radius: 3px;
}

.question-main{
    flex: 1;
    width: 660px;
    margin-left:10px;
    overflow: hidden;
}

.question-title a{
    color: #259;
    font-size:14px;
    font-weight: 900;
}
.question-author{
    font-size: 12px;
    margin-top: 5px;
}
.question-content{
    margin-top: 5px;
    font-size:12px;
}
.question-detail{
    text-align: right;
    margin-top: 10px;
}
.question-detail .question-author{
    margin-right:10px;
}

.custom-image-size {
    width: 250px; /* 设置宽度为300像素 */
    height: 250px; /* 高度自动适应，以保持原始纵横比 */
    border: 2px solid black;/* 为图片添加黑色边框 */
}

.image-container {
    position: relative;
    margin-bottom: 20px;
}

.image-info {
    display: none;
    position: absolute;
    background: #ffffff; /* 背景颜色 */
    padding: 15px;
    z-index: 1;
    border: 1px solid #ccc;
    width: 300px; /* 宽度 */
    top: 0;
    left: 70%; /* 信息窗口显示在图片的右侧 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* 阴影效果 */
}

.image-info h2 {
    font-size: 18px; /* 标题字体大小 */
    color: #333; /* 标题颜色 */
    margin-bottom: 10px;
}

.image-info ul {
    list-style: none;
    padding: 0;
}

.image-info ul li {
    margin: 5px 0;
    color: #666; /* 列表项颜色 */
}

.image-container:hover .image-info {
    display: block;
    opacity: 1; /* 添加淡入效果 */
    transition: opacity 0.3s; /* 添加渐变动画 */
}

.image-container.active .image-info {
    display: block;
    opacity: 1; /* 添加淡入效果 */
    transition: opacity 0.3s; /* 添加渐变动画 */
}

/* 电影标题颜色设置为灰色 */
h3.movie-title {
    color: #666; /* 灰色颜色 */
}

